.search {
  position: absolute;
  width: 75%;
  top: 100px;
  border-top: 1px solid var(--search-bg-color);
  border-bottom: 1px solid var(--search-bg-color) !important;
  z-index: 10;
  background-color: var(--search-bg-color);
  margin: 20px 30px 0px 35px;
  border-radius: 50px;
}

.search input {
  background-color: var(--search-bg-color);
  color: var(--search-text-color);
}

.search input::placeholder {
  color: var(--search-text-color);
}

.search input:focus,
.search:focus,
.search .input-wrap:focus {
  outline: none !important;
  border-color: var(--search-bg-color) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search .input-wrap {
  border-radius: 50px;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50px;
}

.search .results-panel.show {
  width: 40%;
  background-color: white;
  z-index: 20;
  display: block;
  position: fixed;
  border: solid 1px #00000029;
  margin-top: 10px;
  max-height: 300px;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  .search .results-panel.show {
    width: 80% !important;
  }
}

.search .clear-button svg {
  transform: scale(1) !important;
}
